
.mainContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 65px solid #ff8000;
  transform: rotate(33deg);


}

.stars::before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 65px solid #ff8000;
  right: -100px;
  transform: rotate(-66deg);
}

.stars::after {
  content: '';
  position: absolute;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 78px solid #ff8000;
  transform: rotate(-33deg);
  top: -50.5px;
  right: 25px;
  left: -56.5px;

}
