
/*
Reset everything
*/

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  color: orange;
}

body {
  background-color: #f4f4f4;
  line-height: 1.6em;
  margin: 0;
}

.box-1 {
  background-color: #333333;
  color: #fff;
  border: 5px red solid;
  padding: 20px;
  margin-top: 20px;
  margin: 20px 0;
}

.container {
  width: 80%;
  margin: auto;
}

.box-1 h2 {
  background-color: red;
  color: white;
  /*
  longer way to write:
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  font-weight: lighter; */

  font: lighter 50px 'Pacifico', cursive;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;

}

.box-2 {
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories {

  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 40px;
  list-style: none;
}

.categories li {
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
}
